# data
./data
data
./data/*
data/*
./data/details.json
./data/resume.pdf
./data/cover_letter.txt
./debug.log
debug.log
geckodriver.log
./geckodriver.log

# python venv
./venv/
venv/

# debug data
./debug.log

# python cache
__pycache__/
*pyc

